.modal-dialog-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-dialog .mx-window-content {
    height: auto;
}

.modal-dialog .mx-window-content .close-without-header {
    margin-right: 20px;
    margin-top: 15px;
    color: #000;
    opacity: 1;
}

.modal-dialog .modal-content .modal-header .close {
    margin-top: 0;
}

.modal-dialog .mx-window-header {
    cursor: default;
}

.modal-dialog .modal-body {
    padding: 15px 20px;
}
